.card--no-bookmarks {
  position: relative;
  height: auto;
  width: auto;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img--no-bookmarks {
  max-width: 100%;
  height: auto;
}

.card {
  position: relative;
  height: auto;
  width: auto;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__button {
  width: 150px;
  align-self: center;
  padding: 5px;
  margin: 5px;
}

.tags {
  display: flex;
}

.tags__item {
  width: fit-content;
  height: auto;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  background-color: rgb(218, 214, 214);
  align-self: flex-end;
}

.card__bookmark {
  position: absolute;
  height: auto;
  width: 30px;
  top: 5px;
  right: 0;

  border: none;
  background-color: white;
}
