.profile__main {
  margin: 20px;
}

.visit-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.about-me h3 {
  position: relative;
  left: 25px;
}

.counters {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.counters__tag {
  display: flex;
  align-items: center;
}

.settings {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  height: 100px;
  width: 500px;
}

.settings__title {
  align-self: flex-start;
  justify-self: flex-start;
}

.settings__name-for-dark-mode-button {
  align-self: flex-end;
  justify-self: flex-start;
}
