.profile__main {
  margin: 20px;
}

.visit-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.about-me h3 {
  position: relative;
  left: 25px;
}

.about-me__text {
  margin: 20px;
  text-align: center;
}

.counters {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.counters__tag {
  display: flex;
  align-items: center;
}

.settings {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  height: 100px;
  width: 500px;
  flex-direction: column;
}

.settings__title {
  align-self: flex-start;
  justify-self: flex-start;
}
