.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

textarea {
  height: auto;
  width: auto;
  min-height: 10vh;
  min-width: 80vw;
  font-size: large;
}

.form__button {
  width: 60vw;
  height: 5vh;
  font-size: 2rem;
}

.character-count {
  color: rgb(20, 16, 16);
}
