*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  border: 1px solid black;
}

.card {
  position: relative;
  height: 300px;
  width: auto;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.bookmark {
  position: absolute;
  height: 55px;
  width: 40px;
  top: -15px;
  right: 0;
  padding: 0px;
  -webkit-transform: rotate(0deg) skew(0deg);
  transform: rotate(0deg) skew(0deg);
  border-left: 25px solid black;
  border-right: 25px solid black;
  border-bottom: 25px solid transparent;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  border: 1px solid black;
}

img {
  width: 50px;
  height: 50px;
}

.button {
}

.tag {
  width: auto;
  height: auto;
  border: 1px solid black;
}
