*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  border: 1px solid black;
}

.card {
  position: relative;
  height: 300px;
  width: auto;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.white-bookmark {
  position: absolute;
  height: 55px;
  width: 40px;
  top: -25px;
  right: 0;
}

.black-bookmark {
  position: absolute;
  height: 55px;
  width: 40px;
  top: -25px;
  right: 0;
}

.nav {
  position: sticky;
  bottom: 0;
  border: 1px solid red;
  padding: 5px;
}

.nav-ul {
  list-style: none;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 50px;
  height: 50px;
}

.button {
  width: fit-content;
  align-self: center;
  padding: 5px;
  margin: 5px;
}

.tag-container {
  display: flex;
  flex-direction: row;
}

.tag {
  width: fit-content;
  height: auto;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  background-color: rgb(218, 214, 214);
  align-self: flex-end;
}

.text {
  margin: 20px;
  text-align: center;
}
/* Wieso functioniert das Sticky nicht*/
.homepage {
  position: sticky;
}

.bookmark-nav {
  position: sticky;
  height: 55px;
  width: 40px;
  /* Wieso ist das Bild vom Bookmark in der Navbar größer?*/
}

.profile {
  position: sticky;
}
